header {
	padding: $padding 0;

	.logo {
		float: left;
		text-align: left;
    	width: auto;
    }
}

nav {
	float: right;
	margin: 0 0 0 5%;
	text-align: right;
	width: 60%;

	a {
		margin: 0 0 0 3rem;
	}
}